//espacamento

$espacamento1:10px;
$espacamento2:6px;
$espacamento3:16px;
$espacamento4:20px;
$espacamento5:40px;

//cor

$corTexto:#898989;
$bordasFooter: #c9c9c9;
$header:#eeeeee;
$destaqueBt:#f7941e;
$destaque2:#ec007a;
$destaque3:#20b7ce;

//tamanho font
$tamanho16:16px;

//fonts
$fontBold :  OpensansBold;
$fontRegular: OpensansRegular;
$fontSemibold : OpensansSemiBold;

